name: Salesforce Code Quality Scan

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pmd-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Download PMD
        run: |
          wget https://github.com/pmd/pmd/releases/download/pmd_releases%2F6.55.0/pmd-bin-6.55.0.zip
          unzip pmd-bin-6.55.0.zip

      - name: Run PMD Static Analysis
        run: |
          ./pmd-bin-6.55.0/bin/run.sh pmd -d force-app -R pmd-ruleset.xml -f text